// app css variables

$black: #000;
$white: #fff;

$app-left-nav-bg-color: #e3f2fd;
$app-left-nav-border-color: #90caf9;
$app-left-nav-avatar-border-color: #ffea92;
$app-left-nav-avatar-bg-color: #bbdefb; 
$app-left-nav-hover-bg-color: #1565c0; 

