// app css variables

$black: #000;
$white: #fff;
$grey: grey;

$app-left-nav-bg-color: #2196f3;
$app-left-nav-border-color: #90caf9;
$app-left-nav-avatar-border-color: #ffea92;
$app-left-nav-avatar-bg-color: #2196f3; 
$app-left-nav-hover-bg-color: #fff; 
$app-left-nav-hover-text-color: #2196f3; 

$app-datalist-selected-bg-color: #90caf9;

