<mat-card *ngIf="project" class="content-card project-container">
  
   <mat-tab-group>
      <mat-tab label="Basic">
        <div class="row">
          <div class="col s12">
            <p><b>{{project.title}}</b> <span class="project-status status-{{project.active}}"><span *ngIf="project.active">Active</span> <span *ngIf="!project.active">In Active</span></span>
            </p>
            <p>{{project.address}}</p>
            <p>Summary: {{project.description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <mat-chip-list>
              <mat-chip *ngFor="let tag of project.allTags" [color]="tag.color" selected="true">{{tag.name}}</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </mat-tab>
   </mat-tab-group>

</mat-card>