@import '../../../../scss/app/variables';

.project-container {
  .project-status {
    color: $white;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 11px;

    &.status-true {
      background-color: green;
    }
    &.status-false {
      background-color: red;
    }
  }
}
