<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" class="app-sidenav">

    <nav class="menu" tabindex="0">
	    <div class="smartphone-menu-trigger"></div>
      <a mat-mini-fab color="default" (click)="sidenav.toggle()" class="menu-trigger"><mat-icon>menu</mat-icon></a>
      <header class="avatar">
        <div class="app-title">nadzweb.com</div>
        <div class="app-sub-title">Customer Portal</div>
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
        <div class="user-name">Mark Robert</div>
      </header>
      <ul>
        <li>
          <a [routerLink]="['/']" routerLinkActive="active"><mat-icon>dashboard</mat-icon><span>Dashboard</span></a>
        </li>
        <li>
          <a [routerLink]="['/projects']" [routerLinkActive]="['active']"><mat-icon>line_style</mat-icon><span>Projects</span></a>
        </li>
        <li>
          <a [routerLink]="['/']" [routerLinkActive]="['active']"><mat-icon>description</mat-icon><span>Documents</span></a>
        </li>
        <li>
          <a [routerLink]="['/']" [routerLinkActive]="['active']"><mat-icon>web</mat-icon><span>News</span></a>
        </li>
        <li>
          <a [routerLink]="['/']" [routerLinkActive]="['active']"><mat-icon>event</mat-icon><span>Events</span></a>
        </li>
        <li>
          <a [routerLink]="['/']" [routerLinkActive]="['active']"><mat-icon>settings</mat-icon><span>Settings</span></a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
  
  <mat-toolbar color="primary" class="hide">
    <div class="row">
      <div class="col s2">
        <a mat-mini-fab color="default" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></a>
      </div>
      <div class="col s8">
        <div class="title">Client Portal</div>
      </div>
    </div>
  </mat-toolbar>
  
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>