@import '../scss/app/variables';

.app-content {
  min-height: 500px;
}

.app-sidenav {
  width: 240px;
  min-height: 500px;
  background: $app-left-nav-bg-color;
  border-right: 1px solid $app-left-nav-border-color;

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;
    width: 240px;

    .avatar {
      background: $app-left-nav-avatar-bg-color;
      padding: 2em 0.5em;
      text-align: center;

      img {
        width: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid $app-left-nav-avatar-border-color;
      }
    }
    ul {
      list-style: none;
      padding: 0.5em 0;
      margin: 0;

      li {
        padding: 0.5em 1em 0.5em 3em;
        font-size: 0.95em;
        font-weight: regular;
        background-repeat: no-repeat;
        background-position: left 15px center;
        background-size: auto 20px;
        transition: all 0.15s linear;
        cursor: pointer;
        .mat-icon {
          vertical-align: text-bottom;
          margin-right: 5px;
        }
        &:hover {
          background-color: $app-left-nav-hover-bg-color;
          color: $white;
        }
        &:focus {
          outline: none;
        }
        
      }
    }
  }
}

.mat-toolbar-row {
  display: block !important;
  div.row {
    margin-bottom: 0;
    padding-top: 13px;
    .title {
      text-align: center;
    }
  }
}