@import '../scss/app/variables';

.app-content {
  min-height: 500px;
}

.app-sidenav {
  width: 240px;
  min-height: 500px;
  background: $app-left-nav-bg-color;
  border-right: 1px solid $app-left-nav-border-color;

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;
    width: 240px;
    color: $white;

    .avatar {
      background: $app-left-nav-avatar-bg-color;
      padding: 2em 0.5em;
      text-align: center;

      img {
        width: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid $app-left-nav-avatar-border-color;
      }
      .app-title {
        font-size: 16px;
        font-weight: bold;
      }
      .app-sub-title {
        font-size: 14px;
        margin-bottom: 10px;
        opacity: 0.88;
      }
      .user-name {
        font-size: 12px;
        margin-bottom: 5px;
      }
    }
    .menu-trigger {
      float: right;
      width: 25px;
      height: 25px;
      color: $white;
      font-size: 25px;
      background: none;
      box-shadow: none;
      margin-right: 10px;
    }
    ul {
      list-style: none;
      margin: 0;

      li {
        padding: 0.5em 1em 0.5em 3.5em;
        transition: all 0.15s linear;
        cursor: pointer;
        .mat-icon {
          vertical-align: text-bottom;
          margin-right: 5px;
        }
        &:hover {
          background-color: $app-left-nav-hover-bg-color;
          color: $app-left-nav-hover-text-color;
        }
        &:focus {
          outline: none;
        }

        &.active {
          background-color: $white;
        }
        
      }
    }
  }
}

.mat-toolbar-row {
  display: block !important;
  div.row {
    margin-bottom: 0;
    padding-top: 13px;
    .title {
      text-align: center;
    }
  }
}